{define title}Administrace - Úvod{/define}
{define description}Popísek{/define}
{block content}

Vítejte v administraci. Pokračujte zvolením kategorie v menu.
<br /> <br />
!! TODO: Zde místo na nějaké GRAFY a přehledy !!