{define title}Editor úvodní stránky{/define}
{define description}Description{/define}
{block content}
    {control editorForm}
    <input name="image" type="file" id="upload" class="hidden" onchange="">
{/block}