{define title} <a n:href="default"><i class="fa fa-arrow-up" aria-hidden="true"></i> Správce hostů</a> - Detail hosta {$guest->name}{/define}
{define description}Description{/define}
{block content}
<h2>Informace o hostovi</h2>
{control guestForm}