<!DOCTYPE html>
<html lang="cs-cz">
<head>
    <meta charset="UTF-8"/>
    <title>{include title}</title>

    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>

<body onLoad="window.print()">

{include content}

</body>
</html>