{block title}Method Not Allowed{/block}
{block description}Chyba 405{/block}
{block content}

<div class="sppb-col-sm-12">
    <div class="sppb-col-sm-2"></div>
    <div class="sppb-col-sm-8">
        <p>The requested method is not allowed for the URL.</p>

        <p>
            <small>Error 405</small>
        </p>
    </div>
</div>