/** Created by Zbyněk Mlčák*/

.sp-page-builder .page-content #section-id-1480870498 {
    margin: 0;
}

.sp-page-builder .page-content #section-id-1480870507 {
    margin: 0;
    padding: 50px 0;
}

#sppb-addon-1480870510 .sppb-addon-title {
    margin-bottom: 25px;
    font-size: 45px;
    line-height: 45px;
}

.sp-page-builder .page-content #section-id-1481388705687 {
    padding: 100px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 0;
}

.sp-page-builder .page-content #section-id-1481388705687 .sppb-section-title .sppb-title-heading {
    color: rgba(191, 166, 114, 1);
}

.sp-page-builder .page-content #section-id-1480870515 {
    margin: 0;
    padding: 100px 0;
}

#sppb-addon-1480870518 .sppb-addon-title {
    margin-bottom: 50px;
    font-size: 40px;
    line-height: 40px;
}

#sppb-addon-1480870519 .sppb-addon-title {
    margin-bottom: 50px;
    font-size: 40px;
    line-height: 40px;
}

#sppb-addon-1480870520 .sppb-addon-title {
    margin-bottom: 50px;
    font-size: 40px;
    line-height: 40px;
}

.sp-page-builder .page-content #section-id-1480870522 {
    margin: 0;
    padding: 80px 0 80px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 0;
}

#sppb-addon-1480870524 .sppb-addon-title {
    margin-top: 0;
    margin-bottom: 20px;
    color: #dddddd;
    font-size: 22px;
    line-height: 22px;
}

.sp-page-builder .page-content #section-id-1481711516740 {
    margin: 0 0 0 0;
    padding: 100px 0 100px 0;
}

#sppb-addon-1481711516743 .sppb-addon-title {
    margin-top: 0;
    margin-bottom: 20px;
    color: rgba(17, 17, 17, 1);
    font-size: 35px;
    line-height: 35px;
}

#sppb-addon-1481711516775 .sppb-empty-space {
    padding-bottom: 50px;
}

.sp-page-builder .page-content #section-id-1480870535 {
    margin: 0;
}

.sppb-progress-20 .sppb-progress-bar {
    -webkit-transition: 2s ease 1s;
    transition: 2s ease 1s;
}

.sp-page-builder .page-content #section-id-1481815849266 {
    /*section-id-1480870528*/
    padding: 100px 0;
    background-color: #222222;
    margin: 0 0 -22px;
}

#sppb-addon-1480870530 .sppb-addon-title {
    color: #ffffff;
    font-weight: 700;
}

#sppb-addon-1481134506425 .sppb-empty-space {
    padding-bottom: 30px;
}

#sppb-addon-1480870532 .sppb-addon-title {
    color: #ffffff;
    font-size: 0;
    line-height: 0;
    font-weight: 700;
}

#sppb-addon-1481134506422 .sppb-empty-space {
    padding-bottom: 30px;
}

#sppb-addon-1480870534 .sppb-addon-title {
    color: #ffffff;
    font-weight: 700;
}

#sppb-addon-1481134506431 .sppb-empty-space {
    padding-bottom: 30px;
}

#sppb-addon-1481134506415 .sppb-addon-title {
    color: #ffffff;
    font-weight: 700;
}

#sppb-addon-1481134506428 .sppb-empty-space {
    padding-bottom: 30px;
}