<!DOCTYPE html>
<html lang="cs-cz" class="com_sppagebuilder view-page itemid-816 j36 mm-hover no-touch">
<head>
    <meta charset="UTF-8"/>
    <link type="text/css" rel="stylesheet" href="{$basePath}/template/css.css">
    <link type="text/css" rel="stylesheet" href="{$basePath}/template/inline.css">

    <title>Ubytovna - {include title|striptags}</title>
    <meta name="description" content="{include description|striptags}"/>
    {*  favicon ICO *}
    {*Block CSS *}
    <link rel="stylesheet" type="text/css" href="{$basePath}/lightbox/css/lightbox.css">
    <link rel="stylesheet" href="{$basePath}/css/rating/themes/fontawesome-stars.css" type="text/css"/>
    <link href="{$basePath}/template/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="{$basePath}/template/k2.fonts.css" rel="stylesheet" type="text/css">
    <link href="{$basePath}/template/k2.css" rel="stylesheet" type="text/css">
    <link href="{$basePath}/template/jquery-ui.min.css" rel="stylesheet" type="text/css">
    <link href="{$basePath}/css/FontAwesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="{$basePath}/template/flexslider.css" rel="stylesheet" type="text/css">
    <link href="{$basePath}/template/animate.min.css" rel="stylesheet" type="text/css">
    <link href="{$basePath}/template/sppagebuilder.css" rel="stylesheet" type="text/css">
    <link href="{$basePath}/template/sppagecontainer.css" rel="stylesheet" type="text/css">
    <link href="{$basePath}/template/settings.css" rel="stylesheet" type="text/css">
    <link href="{$basePath}/template/dynamic-captions.css" rel="stylesheet" type="text/css">
    <link href="{$basePath}/template/static-captions.css" rel="stylesheet" type="text/css">
    <link href="{$basePath}/template/main.min.css" rel="stylesheet" type="text/css">
    <link href="{$basePath}/template/system.css" rel="stylesheet" type="text/css">
    <link href="{$basePath}/template/template.css" rel="stylesheet" type="text/css">
    <link href="{$basePath}/template/megamenu.css" rel="stylesheet" type="text/css">
    <link href="{$basePath}/template/css(1).css" rel="stylesheet" type="text/css">
    <link href="{$basePath}/template/css(2).css" rel="stylesheet" type="text/css">
    <link href="{$basePath}/template/css(3).css" rel="stylesheet" type="text/css">
    <link href="{$basePath}/template/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="{$basePath}/template/owl.theme.css" rel="stylesheet" type="text/css">
    <link href="{$basePath}/template/owl.transitions.css" rel="stylesheet" type="text/css">
    <link href="{$basePath}/template/peicon.css" rel="stylesheet" type="text/css">
    <link href="{$basePath}/template/custom.css" rel="stylesheet" type="text/css">
    <link href="{$basePath}/template/template(1).css" rel="stylesheet" type="text/css">
    <link type="text/css" rel="stylesheet" href="{$basePath}/template/inline2.css">
    <link type="text/css" rel="stylesheet" href="{$basePath}/css/table.css">


    {*JAVASCRIPT*}
    <script src="{$basePath}/template/jquery.min.js" type="text/javascript"></script>
    <script src="{$basePath}/template/jquery-noconflict.js" type="text/javascript"></script>
    <script src="{$basePath}/template/jquery-migrate.min.js" type="text/javascript"></script>
    <script src="{$basePath}/template/k2.frontend.js" type="text/javascript"></script>
    <script src="{$basePath}/template/noconflict.js" type="text/javascript"></script>
    <script src="{$basePath}/template/jquery-ui.min.js" type="text/javascript"></script>
    <script src="{$basePath}/template/site.min.js" type="text/javascript"></script>
    <script src="{$basePath}/template/common.min.js" type="text/javascript"></script>
    <script src="{$basePath}/template/jquery.cookie.js" type="text/javascript"></script>
    <script src="{$basePath}/template/jquery.validate.min.js" type="text/javascript"></script>
    <script src="{$basePath}/template/additional-methods.min.js" type="text/javascript"></script>
    <script src="{$basePath}/template/core.js" type="text/javascript"></script>
    <script src="{$basePath}/template/jquery.flexslider-min.js" type="text/javascript"></script>
    <script src="{$basePath}/template/sppagebuilder.js" type="text/javascript"></script>
    <script src="{$basePath}/template/jquery.themepunch.tools.min.js" type="text/javascript"></script>
    <script src="{$basePath}/template/jquery.themepunch.revolution.min.js" type="text/javascript"></script>
    <script src="{$basePath}/template/mootools-core.js" type="text/javascript"></script>
    <script src="{$basePath}/template/jquery.ui.datepicker-en-GB.js" type="text/javascript"></script>
    <script src="{$basePath}/template/bootstrap.js" type="text/javascript"></script>
    <script src="{$basePath}/template/jquery.tap.min.js" type="text/javascript"></script>
    <script src="{$basePath}/template/script.js" type="text/javascript"></script>
    <script src="{$basePath}/template/menu.js" type="text/javascript"></script>
    <script src="{$basePath}/template/jquery.appear.js" type="text/javascript"></script>
    <script src="{$basePath}/template/owl.carousel.min.js" type="text/javascript"></script>
    <script src="{$basePath}/template/peicon.js" type="text/javascript"></script>
    <script src="{$basePath}/template/itl_script.js" type="text/javascript"></script>
    <script src="{$basePath}/template/nav-collapse.js" type="text/javascript"></script>

    <script type="text/javascript">

        (function () {
            Solidres.options.load({
                "Hub": 0,
                "ChannelManager": 0,
            });
        })();
    </script>

    <!-- META FOR IOS & HANDHELD -->
    <script type="text/javascript">
        //<![CDATA[
        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement("style");
            msViewportStyle.appendChild(
                document.createTextNode("@-ms-viewport{ width:auto!important}")
            );
            document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
        }
        //]]>
    </script>
    <meta name="HandheldFriendly" content="true">
    <meta name="apple-mobile-web-app-capable" content="YES">

</head>

<body class="bodybg">
<div class="preloader" style="display: none;">
    <div class="loader"></div>
</div>

<div class="t3-wrapper fullwidth">

    <div id="navbar-relative" style="background-color: black !important;">
        <div id="header-wrap" class="header-wrap">
            <header>
                <div class="container top-header">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 hidden-xs">
                            <div class=" socialtop">
                                <ul class="topsocial">

                                    <li><a href="https://www.facebook.com/starastrelnice.hranice/"
                                           target="_blank"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://twitter.com/?lang=cs"
                                           target="_blank"><i class="fa fa-twitter"></i></a></li>
                                    {*                                    <li><a href="#"
                                                                               target="_blank"><i class="fa fa-youtube"></i></a></li>*}
                                    <li><a href="https://cz.pinterest.com/"
                                           target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="logo-image">
                                <img class="logo-img" src="{$basePath}/images/loga/logo.png" alt="Logo">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 hidden-xs">


                            <div class="custom text-right">
                                <div class="top-phone mr10"><span class="fa fa-phone">&nbsp;</span> +420 581 602 187
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </header>


            <!-- MAIN NAVIGATION -->
            <nav id="t3-mainnav" class="wrap navbar navbar-default t3-mainnav">
                <div class="container">

                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">

                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".t3-navbar-collapse">
                            <i class="fa fa-bars"></i>
                        </button>


                    </div>

                    <div class="t3-navbar-collapse navbar-collapse collapse"></div>

                    <div class="t3-navbar navbar-collapse collapse">


                        <div class="t3-navbar navbar-collapse collapse">
                            <div class="t3-megamenu animate slide" data-duration="1" data-responsive="true">
                                <ul itemscope="" itemtype="http://www.schema.org/SiteNavigationElement"
                                    class="nav navbar-nav level0">

                                    <li itemprop="name" n:class="$presenter->isLinkCurrent(':Front:Homepage:*') ? 'active dropdown mega' : 'dropdown mega'"
                                        data-id="435" data-level="1">
                                        <a itemprop="url" n:href=":Front:Homepage:">Úvod <em class="caret"></em></a>
                                    </li>

                                    <li itemprop="name" n:class="$presenter->isLinkCurrent(':Front:Room:*') ? 'active dropdown mega' : 'dropdown mega'"
                                        data-id="810" data-level="1">
                                        <a itemprop="url" n:href=":Front:Room:">Vyhledat pokoj <em
                                                    class="caret"></em></a>
                                    </li>

                                    <li itemprop="name" n:class="$presenter->isLinkCurrent(':Front:Accommodation:default') ? 'active dropdown mega' : 'dropdown mega'"
                                        data-id="625" data-level="1">
                                        <a itemprop="url" n:href=":Front:Accommodation:default" data-target="#"
                                           data-toggle="dropdown">Informace o zařízení <em class="caret"></em></a>


                                        <div class="nav-child dropdown-menu mega-dropdown-menu" style="width: 180px;"
                                             data-width="180">
                                            <div class="mega-dropdown-inner">
                                                <div class="row">
                                                    <div class="col-xs-12 mega-col-nav" data-width="12">
                                                        <div class="mega-inner">
                                                            <ul itemscope=""
                                                                itemtype="http://www.schema.org/SiteNavigationElement"
                                                                class="mega-nav level1">
                                                                <li itemprop="name" data-id="813" data-level="2">
                                                                    <a itemprop="url" n:href=":Front:Accommodation:gallery"
                                                                       data-target="#">Fotogalerie</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li itemprop="name" n:class="$presenter->isLinkCurrent(':Front:Accommodation:contact') ? 'active dropdown mega' : 'dropdown mega'"
                                        data-id="625" data-level="1">
                                        <a itemprop="url" n:href=":Front:Accommodation:contact">Kontakt <em
                                                    class="caret"></em></a>
                                    </li>

                                    {* Rezervace pokud je přihlášený *}
                                    {if $user->isLoggedIn() && !is_null($user->getIdentity()->guests_id)}
                                        <li itemprop="name" n:class="$presenter->isLinkCurrent(':Front:Reservation:*') ? 'active dropdown mega' : 'dropdown mega'"
                                            data-id="625" data-level="1">
                                            {if (isset($_SESSION['reservation']) && strtotime($_SESSION['reservation']) > time())}
                                                <a itemprop="url" n:href=":Front:Reservation:" data-toggle="dropdown">Nová
                                                    rezervace <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                                <div class="nav-child dropdown-menu mega-dropdown-menu"
                                                     style="width: 180px;"
                                                     data-width="180">
                                                    <div class="mega-dropdown-inner">
                                                        <div class="row">
                                                            <div class="col-xs-12 mega-col-nav" data-width="12">
                                                                <div class="mega-inner">
                                                                    <ul itemscope=""
                                                                        itemtype="http://www.schema.org/SiteNavigationElement"
                                                                        class="mega-nav level1">
                                                                        <li itemprop="name" data-id="813"
                                                                            data-level="2">
                                                                            <a itemprop="url" n:href=":Front:Reservation:my"
                                                                               data-target="#">Moje rezervace</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            {else}
                                                <a itemprop="url" n:href=":Front:Reservation:my">Moje rezervace <em
                                                            class="caret"></em></a>
                                            {/if}
                                        </li>

                                        {* Pokud není přihlášený *}
                                    {else}
                                        {if (isset($_SESSION['reservation']) && strtotime($_SESSION['reservation']) > time())}
                                            <li itemprop="name" n:class="$presenter->isLinkCurrent(':Front:Reservation:*') ? 'active dropdown mega' : 'dropdown mega'"
                                                data-id="625" data-level="1">
                                                <a itemprop="url" n:href=":Front:Reservation:">Nová rezervace <i
                                                            class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                            </li>
                                        {/if}
                                    {/if}

                                    <li itemprop="name" n:class="$presenter->isLinkCurrent(':Front:Administration:*') ? 'active login-butt dropdown mega' : 'login-butt dropdown mega'"
                                        data-id="675"
                                        data-level="1"
                                        data-alignsub="center">

                                        {if !$user->isLoggedIn()}
                                            <a itemprop="url" n:href=":Front:Administration:login"
                                               data-target="#" data-toggle="dropdown">Přihlášení <em class="caret"></em></a>


                                            <div class="nav-child dropdown-menu mega-dropdown-menu"
                                                 style="width: 180px;"
                                                 data-width="180">
                                                <div class="mega-dropdown-inner">
                                                    <div class="row">
                                                        <div class="col-xs-12 mega-col-nav" data-width="12">
                                                            <div class="mega-inner">
                                                                <ul itemscope=""
                                                                    itemtype="http://www.schema.org/SiteNavigationElement"
                                                                    class="mega-nav level1">
                                                                    <li itemprop="name" data-id="813" data-level="2">
                                                                        <a itemprop="url"
                                                                           class="" n:href=":Front:Administration:register"
                                                                           data-target="#">Registrace</a>
                                                                    </li>

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        {else}
                                            {if $user->isInRole('admin')}
                                                <a itemprop="url" n:class="$presenter->isLinkCurrent(':Front:Administration:*') ? 'active dropdown-toggle' : 'dropdown-toggle'" n:href=":Back:Homepage:"
                                                   data-target="#"
                                                   data-toggle="dropdown">Administrace <em
                                                            class="caret"></em></a>
                                            {else}

                                                <a itemprop="url" n:class="$presenter->isLinkCurrent(':Front:Administration:*') ? 'active dropdown-toggle' : 'dropdown-toggle'" n:href=":Front:Administration:profil"
                                                   data-target="#"
                                                   data-toggle="dropdown">{$user->getIdentity()->getData()['username']}
                                                    <em
                                                            class="caret"></em></a>

                                            {/if}
                                            <div class="nav-child dropdown-menu mega-dropdown-menu"
                                                 style="width: 180px;"
                                                 data-width="180">
                                                <div class="mega-dropdown-inner">
                                                    <div class="row">
                                                        <div class="col-xs-12 mega-col-nav" data-width="12">
                                                            <div class="mega-inner">
                                                                <ul itemscope=""
                                                                    itemtype="http://www.schema.org/SiteNavigationElement"
                                                                    class="mega-nav level1">
                                                                    {if !$user->isInRole('admin')}
                                                                        <li itemprop="name" data-id="813"
                                                                            data-level="2">
                                                                            <a itemprop="url"
                                                                               class="" n:href=":Front:Administration:profil"
                                                                               data-target="#">Nastavení profilu</a>
                                                                        </li>
                                                                    {/if}

                                                                    <li itemprop="name" data-id="813" data-level="2">
                                                                        <a itemprop="url"
                                                                           class="" n:href=":Front:Administration:logout"
                                                                           data-target="#">Odhlásit se</a>
                                                                    </li>


                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>



                                        {/if}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- //MAIN NAVIGATION -->
        </div>
    </div>


    <!-- NAV HELPER -->
    <div class="wrap t3-navhelper banner  ">
        <div class="parallax banner-long banner-"
             style="background: #f6f6f6 url('{$basePath}/template/breadcrumb{php echo mt_rand(1,3)}.jpg') no-repeat 50% 30%; background-size:cover; background-attachment:scroll;">
            <div class="container">
                <div class="row">
                    <div class="head-content">
                        <div class="col-md-6">
                            <div class="mass-head">
                                <h2 style="color: #ffffff ;">{include title}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //NAV HELPER -->


    <div id="t3-mainbody" class="no-container"> {*container t3-mainbody*}
        <div class="row">
            <!-- MAIN CONTENT -->
            <div id="t3-content" class="t3-content col-xs-12">
                <div id="system-message-container" class="container">
                    {foreach $flashes as $flash}
                        <div class="sppb-addon-content">
                            <div class="sppb-alert sppb-alert-{$flash->type} sppb-fade in">
                                {$flash->message|noescape}
                            </div>
                        </div>
                    {/foreach}
                </div>
                {include content}
            </div>
        </div>
        <!-- //MAIN CONTENT -->
    </div>
</div>


<!-- FOOTER -->
<footer id="t3-footer" class="wrap t3-footer">
    <div class="t3-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12 col-xs-9 copyright ">
                    <div class="custom">
                        <p>Copyright © 2016 - {date('Y')} by &nbsp;<em class="fa fa-heart">&nbsp; </em> Zbyněk Mlčák</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</footer>
<!-- //FOOTER -->

<div id="back-to-top" class="back-to-top">
    <i class="fa fa-angle-up fa-2x"></i>
</div>

{block scripts}
    <script src="{$basePath}/js/jquery-3.2.1.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="{$basePath}/js/moment.min.js"></script>
    <script src="{$basePath}/js/netteForms.min.js"></script>
    <script src="{$basePath}/js/nette.ajax.js"></script>
    <script src="{$basePath}/js/main.js"></script>
    <script src="{$basePath}/lightbox/js/lightbox.js"></script>
    <script src="{$basePath}/js/jquery.barrating.min.js"></script>
{if $presenter->isLinkCurrent(':Front:Accommodation:contact')}
    <script src="{$basePath}/js/maps.js"></script>
{/if}
{if (isset($_SESSION['reservation']) && strtotime($_SESSION['reservation']) > time())}
    <script>var reservation_expired = {$_SESSION['reservation']};</script>
    <script src="{$basePath}/js/reservation_counter.js"></script>
{/if}
    <script>var filter = {isset($_SESSION['filter']['use']) ? $_SESSION['filter']['use'] : false};</script>
{/block}

</body>
</html>